<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        .project
        {
            color: white;
            margin-top: 10%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        hr
        {
            width:90%;
            
        }
        .project p
        {
            font-size: 2rem;
            text-align: center;
            padding:5% ;
        }

        .container1
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .container1 div
        {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 5%;
            width: 90%;
            margin-top:5%;
            border-bottom: 1px solid white;
        }

        .container1 div img
        {
            height: 10%;
            width: 20%;
        }


        @media screen and (max-width: 420px) 
        {
            .project .p
            {
                font-size: 1.5rem;
            }
          .container1 div 
          {
            flex-direction: column;
            row-gap:1px;
          }

          .container1 div img 
          {
            height: 20%;
            width: 60%;
          }
        }
        
      
    </style>
</head>

<body>
    

    <%-include('nav')%>
        
            
            <div class="project">
                <p class="p">I Completed Multiple Project During My InternShip And Practice</p>

                <hr>
                <div class="container1">
                    <div class="div1">
                        <img src="https://miro.medium.com/v2/resize:fit:1400/1*hPhzeFD3htF7ly1AMmAVbw.png"
                            alt="gameimg">
                        <br><br>
                        <p>rock paper scissor game</p>
                        <br>
                        <p>Technology Used</p>
                        <br>
                        <span>HTML,CSS,JS</span>

                    </div>

                    

                    <div class="div2">
                        <img src="https://camo.githubusercontent.com/5b64d917b977bc5226008266733bcf350e52c9f32ad50ba067c2656ca28fddc1/68747470733a2f2f63616c65622d656c6c69732e6769746875622e696f2f6173736574732f696d672f73696d6f6e2e6a7067"
                            alt="gameimg">
                        <br><br>
                        <p>simon game</p>
                        <br>
                        <p>Technology Used</p>
                        <br>
                        <span>HTML,CSS,JS</span>

                    </div>

                   



                    <div class="div3">
                        <img src="https://repository-images.githubusercontent.com/182525249/aadd7a80-54fe-11eb-9872-ccd06b8789b6"
                            alt="gameimg">
                        <br><br>
                        <p>quiz application</p>
                        <br>
                        <p>Technology Used</p>
                        <br>
                        <span>HTML,CSS,JS</span>

                    </div>

                    



                    <div class="div4">
                        <img src="https://img.freepik.com/premium-vector/calculator-ui-design-with-cool-cellphone-appearance_778550-2421.jpg"
                            alt="gameimg">
                        <br><br>
                        <p>calculator</p>
                        <br>
                        <p>Technology Used</p>
                        <br>
                        <span>HTML,CSS,JS</span>

                    </div>

              



                    <div class="div5">
                        <img src="https://img.etimg.com/thumb/width-420,height-315,imgsize-17376,resizemode-75,msid-94945321/news/international/us/netflix-launches-new-profile-transfer-feature-details-here.jpg"
                            alt="gameimg">
                        <br><br>
                        <p>netflix UI</p>
                        <br>
                        <p>Technology Used</p>
                        <br>
                        <span>HTML,CSS,JS</span>

                    </div>



                    <div class="div6">
                        <img src="https://miro.medium.com/v2/resize:fit:1200/1*83H0VEUnwwZ9QukANdXnig.jpeg"
                            alt="gameimg">
                        <br><br>
                        <p>Galery UI</p>
                        <br>
                        <p>Technology Used</p>
                        <br>
                        <span>HTML,CSS,JS</span>

                    </div>

           


                    <div class="div7">
                        <img src="https://soliloquywp.com/wp-content/uploads/2016/08/How-to-Create-an-Image-Slider-in-WordPress-2.png"
                            alt="gameimg">
                        <br><br>
                        <p>image slider</p>
                        <br>
                        <p>Technology Used</p>
                        <br>
                        <span>HTML,CSS,JS</span>

                    </div>

                   


                    <!-- snake ladders -->
                    <div class="div8">
                        <img src="https://cdn.shopify.com/s/files/1/0876/1176/files/i984_pimgpsh_fullsize_distr.png?v=1525140332"
                            alt="gameimg">
                        <br><br>
                        <p>sanke and ladder game</p>
                        <br>
                        <p>Technology Used</p>
                        <br>
                        <span>HTML,CSS,JS</span>

                    </div>

                   


                    <!-- count down -->
                    <div class="div9">
                        <img src="https://t3.ftcdn.net/jpg/03/12/95/72/360_F_312957201_nwuPklullE9qNAFov708ixqjfukfjJGN.jpg"
                            alt="gameimg">
                        <br><br>
                        <p>count down clock</p>
                        <br>
                        <p>Technology Used</p>
                        <br>
                        <span>HTML,CSS,JS</span>

                    </div>
                    

                    <!-- weather app -->
                    <div class="div10">
                        <img src="https://uizard.io/static/2dadbc6e1470cf063e80f38840d0d92f/a8e47/e5e727584926383c6fb465f443dd7371c3beb6bf-1440x835.png"
                            alt="gameimg">
                        <br><br>
                        <p>weather app</p>
                        <br>
                        <p>Technology Used</p>
                        <br>
                        <span>HTML,CSS,JS</span>

                    </div>
                 

                    <!-- calculator -->
                    <div class="div11">
                        <img src="https://code-projects.org/wp-content/uploads/2020/09/3-2.png" alt="gameimg">
                        <br><br>
                        <p>calculator</p>
                        <br>
                        <p>Technology Used</p>
                        <br>
                        <span>python , tkinter library</span>

                    </div>
                   

                    <!-- notepad -->
                    <div class="div12">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBGaDsWv9wSmjeBsiDFYbCNIvipe8ZslKrEQ&s"
                            alt="gameimg">
                        <br><br>
                        <p>notepad</p>
                        <br>
                        <p>Technology Used</p>
                        <br>
                        <span>python , tkinter library</span>

                    </div>
                    


                </div>
            </div>
          
       
        <%-include('icons')%>
        



            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
                integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
                integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>


            <script>

                //scroll trigger

                gsap.from(".div3 ",
                    {
                        opacity: 0,
                        scale: 0,
                        duration: 2,
                       
                        ease: "power4.inOut",
                        scrollTrigger:
                        {
                            trigger: ".div3",
                            scroller: "body",
                            start: "top 100%",
                            end: "top 90%",
                            scrub: 4
                        }

                    }
                )


                
                gsap.from(".div4 ",
                    {
                        opacity: 0,
                        scale: 0,
                        duration: 2,
                        ease: "power4.inOut",
                        scrollTrigger:
                        {
                            trigger: ".div4",
                            scroller: "body",
                            start: "top 100%",
                            end: "top 90%",
                            scrub: 3,
                            
                        }

                    }
                )



                gsap.from(".div5 ",
                    {
                        opacity: 0,
                        scale: 0,
                        duration: 2,
                        ease: "power4.inOut",
                        scrollTrigger:
                        {
                            trigger: ".div5",
                            scroller: "body",
                            start: "top 100%",
                            end: "top 90%",
                            scrub: 4
                        }

                    }
                )


                
                gsap.from(".div6 ",
                    {
                        opacity: 0,
                        scale: 0,
                        duration: 2,
                        ease: "power4.inOut",
                        scrollTrigger:
                        {
                            trigger: ".div6",
                            scroller: "body",
                            start: "top 100%",
                            end: "top 90%",
                            scrub: 3,
                            
                        }

                    }
                )


                gsap.from(".div7",
                    {
                        opacity: 0,
                        scale: 0,
                        duration: 2,
                        ease: "power4.inOut",
                        scrollTrigger:
                        {
                            trigger: ".div7",
                            scroller: "body",
                            start: "top 100%",
                            end: "top 90%",
                            scrub: 4
                        }

                    }
                )


                
                gsap.from(".div8 ",
                    {
                        opacity: 0,
                        scale: 0,
                        duration: 2,
                        ease: "power4.inOut",
                        scrollTrigger:
                        {
                            trigger: ".div8",
                            scroller: "body",
                            start: "top 100%",
                            end: "top 90%",
                            scrub: 3,
                            
                        }

                    }
                )


                gsap.from(".div9",
                    {
                        opacity: 0,
                        scale: 0,
                        duration: 2,
                        ease: "power4.inOut",
                        scrollTrigger:
                        {
                            trigger: ".div9",
                            scroller: "body",
                            start: "top 100%",
                            end: "top 90%",
                            scrub: 4
                        }

                    }
                )


                
                gsap.from(".div10 ",
                    {
                        opacity: 0,
                        scale: 0,
                        duration: 2,
                        ease: "power4.inOut",
                        scrollTrigger:
                        {
                            trigger: ".div10",
                            scroller: "body",
                            start: "top 100%",
                            end: "top 90%",
                            scrub: 3,
                            
                        }

                    }
                )


                gsap.from(".div11",
                    {
                        opacity: 0,
                        scale: 0,
                        duration: 2,
                        ease: "power4.inOut",
                        scrollTrigger:
                        {
                            trigger: ".div11",
                            scroller: "body",
                            start: "top 100%",
                            end: "top 90%",
                            scrub: 4
                        }

                    }
                )


                
                gsap.from(".div12 ",
                    {
                        opacity: 0,
                        scale: 0,
                        duration: 2,
                        ease: "power4.inOut",
                        scrollTrigger:
                        {
                            trigger: ".div12",
                            scroller: "body",
                            start: "top 100%",
                            end: "top 90%",
                            scrub: 3,
                            
                        }

                    }
                )



                
            
                function boxShadow()
                {

                    const r = Math.floor(Math.random() * 256);
                    const g = Math.floor(Math.random() * 256);
                    const b = Math.floor(Math.random() * 256);
                    const color = `rgba(${r}, ${g}, ${b}, 1)`;

                    for (let i = 1; i <= 12; i++) {
                        // Construct the class name
                        let className = `div${i}`;
                    
                        // Access the div element by class name
                        let divElement = document.querySelector(`.${className}`);
                    
                        divElement.style.boxShadow =  `${color} 0px 0px 20px, ${color} 0px 1px 1px`;
                    
                }


              
            }

            setInterval(()=>
            {
                boxShadow()
            },1000)

            </script>
</body>

</html>